<div>
    <h1>LET'S CREATE</h1>
    <form action="" method="post">
        <h3>Formulario de acceso</h3>
        <label for="username">Nombre de usuario:</label>
        <input type="username" name="username" value="{{valueUsername}}">
        <br>
        <label for="password">Contraseña:</label>
        <input type="password" name="password">
        <br>
        <button>Acceder</button>
    </form>
    {{#if this.errorMessage}}
        <h4>{{this.errorMessage}}</h4>
    {{/if}}
    <h3>¿No tienes cuenta?</h3>
    <a href="/auth/signup"><h4>Registrarse como usuario</h4></a>
</div>