<div>
    <h2>REGÍSTRATE PARA VER LAS OBRAS DE ARTE DE TUS AMIGOS</h2>
    <h3>Formulario de registro</h3>
    <form action="/auth/signup" method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" value="{{valueUsername}}">
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" value="{{valueEmail}}">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password">
        <br>
        <label for="ubication">Lugar de procedencia:</label>
        <input type="text" name="ubication" value="{{valueUbication}}">
        <br>
        <button>Crear usuario</button>
    </form>
    {{#if this.errorMessage}}
        <h4>{{this.errorMessage}}</h4>
    {{/if}}
    <h3>¿Ya tienes cuenta?</h3>
    <a href="/auth/login"><h4>Inicia sesión</h4></a>
</div>