<div>
<form action="/logged/profileAdmin/create" method="post" enctype="multipart/form-data" id="form-cuadro">
    
    <label for="title">Título:</label>
    <input type="text" name="title">
    <br>
    <label for="author">Autor:</label>
    <input type="text" name="author">
    <br>
    <label for="year">Año:</label>
    <input type="text" name="year">
    <br>
    <label for="description">Descripción:</label>
    <input type="text" name="description">
    <br>
    <label for="image">Cuadro del día:</label>
    <input type="file" name="image">
    <br>
    <button id="button-post">Publicar cuadro del día</button>
    </form>
</div>

    
    