<h2>Editar datos del Usuario</h2>

<h4>Perfil de: {{this.name}}</h4>
<div>
    <form action="" method="post">
        <label for="name">Nombre de usuario</label>
        <input type="text" name="name" value="{{this.name}}">
        <br>

        <label for="email">Email</label>
        <input type="text" name="email" value="{{this.email}}">
        <br>

        <label for="ubication">Ubicación:</label>
        <input type="text" name="ubication" value="{{this.ubication}}">
        <br>

        <form action="">
            <button>Guardar cambios</button>
        </form>
    </form>
</div>