<h2>Perfil de Usuario</h2>

<div>
    
    <h5>Nombre: {{profileDetails.name}}</h5>
    <h5>Email: {{profileDetails.email}}</h5>
    <h5>Ubicación: {{profileDetails.ubication}}</h5>
    <h5>Fotos: {{profileDetails.photos}}</h5>

    <form action="" method="post">
        <button>Editar</button>
    </form>
    <br>
    <form action="" method="post">
        <button>Eliminar usuario</button>
    </form>
</div>