<h2>Perfil de Usuario</h2>

<div>
    
    <h5>Nombre: {{}}</h5>
    <h5>Email: {{}}</h5>
    <h5>Ubicación: {{}}</h5>
    <h5>Fotos: {{}}</h5>

    <form action="" method="post">
        <button>Editar</button>
    </form>
    <br>
    <form action="" method="post">
        <button>Eliminar usuario</button>
    </form>
</div>