<div id="home" class="container">
    <div class="row align-items-start">
        <div id="texto-home" class="col align-self-start">
            <img id="logo-home" class="row align-items-start" src="images/bereart-logo-blanco.png" alt="logo-bereart" width="400px">
            <p class="fs-8 mb-5">Proyecto realizado por Aaron y Alberto</p>
            <p class="fs-1 mb-4">Copia a los mejores.
                <br>
                Crea tu obra de arte.
            </p>

            <p class="fs-4 me-4">
                Imita un cuadro famoso a través de una foto.
                <br>
                Una forma nueva y única de descubrir <br> el arte de tus amigos.</p>

        </div>
        <div class="col" class="p-3 mb-2 bg-white text-black">

            <img class="mt-4 ml-5" src="images/imitacioncuadros.jpg" alt="index-photo" width="420px">
        </div>
    </div>

</div>