<div class="container">
    <div class="row align-items-start">
        <div class="col align-self-start">
            <img class="row align-items-start" src="images/bereart-logo-blanco.png" alt="logo-bereart" width="600px">
            <h1>Imita a los mejores.
                <br>
                Crea tu obra de arte.</h1>
            <p class="fs-6">Proyecto realizado por Aaron y Alberto</p>
            <p class="fs-3">Cada día todos deberán imitar un cuadro famoso a través de una foto.
        Una forma nueva y única de descubrir el arte de tus amigos</p>
        </div>
        <div class="col" class="p-3 mb-2 bg-white text-black">
            COLUMNA IMAGEN
        </div>
    </div>
</div>