<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

      <nav>
      <img src="" alt="logo-BeReArt">
      <a href="/">Inicio</a>
      {{#if isUserActive}}
      <a href="/logged/cuadroDelDia">Cuadro del día</a>
      <a href="/logged/profile">Mi perfil</a>
      <a href="/auth/logout">Cerrar sesión</a>
      {{else}}
      <a href="/auth/signup">Crear un usuario</a>
      <a href="/auth/login">Iniciar sesión</a>
      {{/if}}
      
      {{#if isUserAdminType}}
      <a href="/logged/profileAdmin/create">Crear cuadro del día</a>
      {{/if}}
      </nav>
      

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>