<h2>Cuadro del día</h2>

<div>
    <img src="" alt="cuadro-dia">
    <h5>Detalles del cuadro:</h5>
    <h6>Título:
        <p>{{this.title}}</p>
    </h6>
    <h6>Autor:
        <p>{{this.author}}</p>
    </h6>
    <h6>Año:
        <p>{{this.year}}</p>
    </h6>
    <h6>Descripción:
        <p>{{this.description}}</p>
    </h6>
    
</div>

<h4>¡Ahora sube tu foto imitando este cuadro!</h4>


    <button>Crear publicación</button>

<script>

    button = document.querySelector("button")
    const crearPost = () => {
        let idPost = 'post';
        let post = document.createElement('div');
        post.innerHTML = hola
        post.setAttribute('id', idPost);
        document.body.appendChild(post);
    }
    

button.addEventListener("click", crearPost);


</script>